h1 {
    text-align: center;
    color: #48bace;
}

img {
    display: block;
    height: 300px
}

.icepic {
    margin: 0 auto;
}

#header {
    text-align: center;
    border: 2px solid #48bace;
    font-family: cursive;
}

